@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.masonry-container {
  column-count: 1;
  column-gap: 1em;
  cursor: pointer;

  .masonry-item {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 0 1em;
    break-inside: avoid;
    overflow: hidden;

    img {
      grid-row: 1 / -1;
      grid-column: 1;
      width: 100%;
      max-width: 100%;
      display: block;

      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .masonry-container {
    column-count: 6;
  }
}

@include media-breakpoint-down(xl) {
  .masonry-container {
    column-count: 5;
  }
}

@include media-breakpoint-down(lg) {
  .masonry-container {
    column-count: 4;
  }
}

@include media-breakpoint-down(md) {
  .masonry-container {
    column-count: 3;
  }
}

@include media-breakpoint-down(sm) {
  .masonry-container {
    column-count: 2;
  }
}

@include media-breakpoint-down(xs) {
  .masonry-container {
    column-count: 1;
  }
}
