<div class="masonry-container">
  <div *ngFor="let item of items" class="card text-white bg-dark masonry-item" (click)="onClickItem(item)">
    <div *ngIf="item.title" class="card-header">{{ item.title }}</div>

    <img class="card-img-top" [src]="item.image" [alt]="item.image" />

    <ul *ngIf="item.attributes" class="list-group list-group-flush">
      <li *ngFor="let attribute of item.attributes" class="list-group-item text-white bg-dark">
        <p class="m-0">
          <strong>
            <span class="las" [ngClass]="attribute.icon"></span>
            <small>{{ attribute.label }}</small>
          </strong>
        </p>
        <p class="m-0">
          <small>
            <span *ngIf="attribute.flag" class="flag-icon flag-icon-{{ attribute.flag }}"></span>
            {{ attribute.value }}
          </small>
        </p>
      </li>
    </ul>
  </div>
</div>
