<div class="container mt-5 mb-5">
  <div class="row align-items-start">
    <div class="col">
      <form *ngIf="category" [formGroup]="filter">
        <div class="row mb-5">
          <div class="col-md-10">
            <div class="form-group text-white">
              <label>Category</label>
              <div ngbDropdown>
                <button class="btn btn-block btn-dark" ngbDropdownToggle>{{ category.name | titlecase }}</button>
                <div ngbDropdownMenu>
                  <button
                    *ngFor="let cat of categories"
                    ngbDropdownItem
                    (click)="filter.get('category')?.setValue(cat)"
                  >
                    {{ cat.name | titlecase }}
                  </button>
                </div>
                <small class="form-text text-muted">Category to show...</small>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group text-white">
              <label>Limit</label>
              <div ngbDropdown>
                <button class="btn btn-block btn-dark" ngbDropdownToggle>{{ limit }}</button>
                <div ngbDropdownMenu>
                  <button *ngFor="let limit of limits" ngbDropdownItem (click)="filter.get('limit')?.setValue(limit)">
                    {{ limit }}
                  </button>
                </div>
                <small class="form-text text-muted">Items listed by request...</small>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-masonry-grid [items]="items" (onClick)="onClickItem($event)"></app-masonry-grid>
    </div>
  </div>
</div>
