<div class="container mt-5 mb-5">
  <div class="row align-items-start">
    <div class="col">
      <form [formGroup]="filter">
        <div class="row mb-5">
          <div class="col-md-5">
            <div class="form-group text-white">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Name" formControlName="name" />
              <small class="form-text text-muted">If you want to filter by name...</small>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group text-white">
              <label>Origin</label>
              <input type="text" class="form-control" placeholder="Origin" formControlName="origin" />
              <small class="form-text text-muted">If you want to filter by origin...</small>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group text-white">
              <label>Limit</label>
              <div ngbDropdown>
                <button class="btn btn-block btn-dark" ngbDropdownToggle>{{ limit }}</button>
                <div ngbDropdownMenu>
                  <button *ngFor="let limit of limits" ngbDropdownItem (click)="filter.get('limit')?.setValue(limit)">
                    {{ limit }}
                  </button>
                </div>
                <small class="form-text text-muted">Items listed by request...</small>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-masonry-grid [items]="items" (onClick)="onClickItem($event)"></app-masonry-grid>
    </div>
  </div>
</div>
