<div class="container mt-5 mb-5">
  <div class="row align-items-start">
    <div class="col-md-5">
      <div *ngIf="breed" class="card text-white bg-dark">
        <img *ngIf="breed.image" class="card-img-top" [src]="breed.image.url" [alt]="breed.name" />
        <div class="card-body">
          <h5 class="card-title">{{ breed.name }}</h5>
          <p class="card-text">{{ breed.temperament }}</p>
          <p class="card-text">{{ breed.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-white bg-dark">
            <p class="m-0">
              <strong>
                <span class="las la-globe mr-1"></span>
                <small>Origin</small>
              </strong>
            </p>
            <p class="m-0">
              <small>
                <span class="flag-icon flag-icon-{{ breed.country_code.toLowerCase() }}"></span>
                {{ breed.origin }}
              </small>
            </p>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0">
              <strong>
                <span class="las la-heartbeat mr-1"></span>
                <small>Life Span</small>
              </strong>
            </p>
            <p class="m-0">
              <small>{{ breed.life_span }}</small>
            </p>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0">
              <strong>
                <span class="lab la-wikipedia-w mr-1"></span>
                <small>Wikipedia</small>
              </strong>
            </p>
            <p class="m-0">
              <small>
                <a [href]="breed.wikipedia_url" target="_blank">{{ breed.wikipedia_url }}</a>
              </small>
            </p>
          </li>
        </ul>
        <div class="card-body text-center">
          <a [routerLink]="'/pages/breeds'" class="card-link">Back</a>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div *ngIf="breed" class="card text-white bg-dark">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Affection Level</small></p>
            <app-starts [repeat]="breed.affection_level"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Adaptability</small></p>
            <app-starts [repeat]="breed.adaptability"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Child Friendly</small></p>
            <app-starts [repeat]="breed.child_friendly"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Dog Friendly</small></p>
            <app-starts [repeat]="breed.dog_friendly"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Energy Level</small></p>
            <app-starts [repeat]="breed.energy_level"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Grooming</small></p>
            <app-starts [repeat]="breed.grooming"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Health Issues</small></p>
            <app-starts [repeat]="breed.health_issues"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Intelligence</small></p>
            <app-starts [repeat]="breed.intelligence"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Shedding Level</small></p>
            <app-starts [repeat]="breed.shedding_level"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Social Needs</small></p>
            <app-starts [repeat]="breed.social_needs"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Stranger Friendly</small></p>
            <app-starts [repeat]="breed.stranger_friendly"></app-starts>
          </li>
          <li class="list-group-item text-white bg-dark">
            <p class="m-0"><small>Vocalisation</small></p>
            <app-starts [repeat]="breed.vocalisation"></app-starts>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
