<span *ngFor="let category of [].constructor(repeat)" class="las la-star"></span>
<span *ngIf="repeat < MAXIMUM">
  <span *ngFor="let category of [].constructor(MAXIMUM - repeat)" class="lar la-star"></span>
</span>
