/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/bootstrap';

body {
  background-color: $gray-900;
}

.dropdown-menu.show {
  width: 100%;
}
